<div class="swiper-container">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide" {{ block.shopify_attributes }} data-index={{ forloop.index0 }}>
        <div 
          class="m-testimonial{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}"
          {% if animated %}
            data-cascade 
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          <!-- WRAPPER COM BORDA GRADIENTE -->
          <div class="m-testimonial__wrapper m-gradient m-color-{{ section.settings.item_color_scheme }} m:blocks-radius">
            <!-- INNER COM FUNDO E CONTEÚDO -->
            <div class="m-testimonial__inner">
              
              {% if block.settings.image != blank %}
                <{% if block.settings.image_link != blank %}a href="{{ block.settings.image_link | default: '#' }}"{% else %}div{% endif %} class="m-testimonial__image m:flex-col">
                  {% render 'responsive-image', image: block.settings.image, wrapper_class: 'm:blocks-radius-md' %}
                  {% if block.settings.image_text != blank %}
                    <div class="m-testimonial__image-text">
                      {{ block.settings.image_text }}
                    </div>
                  {% endif %}
                </{% if block.settings.image_link != blank %}a{% else %}div{% endif %}>
              {% endif %}

              <div class="m-testimonial__row">
                <div class="m-testimonial__content">
                  {% if section.settings.show_stars %}
                    <div class="m-stars">
                      {%- for i in (1..5) -%}
                        <span class="m-star">{%- render 'icon', name: 'star-solid', size: 'small' -%}</span>
                      {%- endfor -%}
                    </div>
                  {% endif %}

                  {% if block.settings.title != blank %}
                    <p class="m-testimonial__title">{{ block.settings.title }}</p>
                  {% endif %}

                  <div class="m-testimonial__description rte">{{ block.settings.description }}</div>

                  {% if block.settings.footer != blank or block.settings.product %}
                    <div class="m-testimonial__name">
                      <div>{{ block.settings.footer }}</div>
                      {% if block.settings.product %}
                        <a class="m-link-underline" href="{{ block.settings.product.url }}">{{ block.settings.product.title }}</a>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>

                <!-- SVG com link externo -->
                <a href="https://maps.app.goo.gl/2bAsKMt56suzg1N9A" target="_blank" rel="noopener noreferrer" class="m-testimonial__icon-link">
                  <svg width="66" height="26" viewBox="0 0 66 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.846 14.399c2.98.229 5.32-1.298 5.963-4.26a.336.336 0 0 0-.327-.41H8.6a.22.22 0 0 1-.154-.063.23.23 0 0 1-.065-.155l-.02-1.748a.17.17 0 0 1 .103-.155.2.2 0 0 1 .064-.013h7.238a.14.14 0 0 1 .096.037.15.15 0 0 1 .046.093c1.091 9.891-11.634 11.921-15.218 3.8-2.074-4.699.743-9.95 5.573-11.247 2.716-.729 5.433.003 7.53 1.869q.068.062.005.127L12.479 3.64q-.06.063-.126.008c-2.21-1.838-5.207-2.054-7.53-.386C.304 6.51 2.202 13.965 7.846 14.397z" fill="#3074F2"/><path d="M54.262.582h-2.128a.05.05 0 0 0-.05.049v15.585a.05.05 0 0 0 .05.049h2.127a.05.05 0 0 0 .05-.05V.632a.05.05 0 0 0-.05-.05" fill="#239A40"/><path d="M27.591 11.279c0 .693-.138 1.38-.405 2.02a5.3 5.3 0 0 1-1.154 1.71 5.365 5.365 0 0 1-7.53 0 5.25 5.25 0 0 1-1.56-3.73c0-1.4.56-2.742 1.56-3.731a5.367 5.367 0 0 1 7.53 0 5.24 5.24 0 0 1 1.56 3.731m-5.334 3.297a3 3 0 0 0 2.195-.958 3.4 3.4 0 0 0 .916-2.33 3.5 3.5 0 0 0-.231-1.263 3.3 3.3 0 0 0-.668-1.073 3.1 3.1 0 0 0-1.003-.718 2.9 2.9 0 0 0-1.186-.256 3 3 0 0 0-2.196.959 3.4 3.4 0 0 0-.915 2.33c-.002.432.077.862.23 1.262.156.401.382.765.669 1.073a3.1 3.1 0 0 0 1.003.718c.373.167.777.254 1.186.256" fill="#E73124"/><path d="M39.208 11.279a5.26 5.26 0 0 1-1.56 3.73 5.35 5.35 0 0 1-3.764 1.546 5.35 5.35 0 0 1-3.765-1.545 5.25 5.25 0 0 1-1.56-3.731c0-.694.138-1.38.406-2.02a5.3 5.3 0 0 1 1.154-1.711 5.366 5.366 0 0 1 7.53 0 5.24 5.24 0 0 1 1.56 3.731m-5.318 3.27c.402 0 .801-.086 1.173-.252a3.1 3.1 0 0 0 .993-.711c.287-.31.512-.67.663-1.064.153-.398.232-.824.232-1.254a3.4 3.4 0 0 0-.903-2.315 2.97 2.97 0 0 0-2.169-.955c-.403 0-.802.086-1.173.251a3.05 3.05 0 0 0-.994.712c-.286.31-.511.67-.663 1.064-.153.4-.232.825-.231 1.254.002.868.326 1.7.902 2.314a2.97 2.97 0 0 0 2.17.956" fill="#FDB000"/><path d="M48.31 15.57a.16.16 0 0 0-.031-.085.17.17 0 0 0-.162-.064.16.16 0 0 0-.081.038c-2.248 2-5.467.964-6.943-1.375-1.965-3.115-.232-7.218 3.394-7.983 1.36-.287 2.577.054 3.56.986a.17.17 0 0 0 .185.032.17.17 0 0 0 .097-.16l-.035-.523a.1.1 0 0 1 .007-.045.11.11 0 0 1 .063-.066.1.1 0 0 1 .046-.01l1.926-.001q.071 0 .072.071.064 7.774-.014 10.314-.018.592-.452 1.741c-.755 1.995-2.995 3.227-5.107 2.903q-2.76-.424-4.083-2.94-.046-.088.045-.125l1.705-.716q.093-.039.143.047 1.212 2.127 3.414 1.711c1.974-.373 2.384-2.033 2.25-3.751zm-2.831-.99a2.8 2.8 0 0 0 1.152-.247 3 3 0 0 0 .98-.713c.28-.306.504-.671.657-1.072a3.6 3.6 0 0 0 .013-2.537 3.4 3.4 0 0 0-.647-1.079 3 3 0 0 0-.972-.724 2.77 2.77 0 0 0-2.302-.012 3 3 0 0 0-.98.713c-.28.307-.504.67-.657 1.072a3.6 3.6 0 0 0-.013 2.537c.15.403.369.77.647 1.079.278.31.608.555.972.724a2.8 2.8 0 0 0 1.15.258" fill="#3074F2"/><path d="M58.078 12.803a.16.16 0 0 0-.073.239c.464.684.942 1.232 1.772 1.437q2.11.519 3.474-1.275.045-.057.104-.019l1.573 1.06q.056.038.015.092c-1.53 2.03-3.971 2.75-6.334 1.81-3.44-1.368-4.234-6.333-1.461-8.907 1.224-1.135 3.158-1.56 4.767-.979 1.549.56 2.662 2.005 3.137 3.561q.024.072-.047.1zm4.36-3.791c-1.572-2.29-4.835-.506-4.783 1.958q0 .029.015.053.015.025.038.041.025.016.052.018.029.004.056-.008l4.575-1.902a.1.1 0 0 0 .062-.068.1.1 0 0 0 .003-.048.1.1 0 0 0-.018-.044" fill="#E73124"/><path d="M38.157 21.84a.1.1 0 0 1 .085-.05.1.1 0 0 1 .085.05l.653 1.181a.1.1 0 0 0 .066.049l1.325.255a.096.096 0 0 1 .052.161l-.921.986a.1.1 0 0 0-.025.079l.166 1.34a.097.097 0 0 1-.137.1l-1.223-.573a.1.1 0 0 0-.082 0l-1.223.573a.097.097 0 0 1-.138-.1l.167-1.34a.1.1 0 0 0-.025-.078l-.922-.987a.096.096 0 0 1 .052-.16l1.326-.256a.1.1 0 0 0 .066-.049zm5.228 0a.1.1 0 0 1 .085-.05.1.1 0 0 1 .084.05l.654 1.181a.1.1 0 0 0 .066.049l1.325.255a.096.096 0 0 1 .052.161l-.921.986a.1.1 0 0 0-.025.079l.166 1.34a.097.097 0 0 1-.138.1l-1.222-.573a.1.1 0 0 0-.083 0l-1.222.573a.097.097 0 0 1-.138-.1l.167-1.34a.1.1 0 0 0-.025-.078l-.922-.987a.096.096 0 0 1 .052-.16l1.326-.256a.1.1 0 0 0 .066-.049zm5.228 0a.1.1 0 0 1 .084-.05.1.1 0 0 1 .085.05l.654 1.181a.1.1 0 0 0 .066.049l1.325.255a.096.096 0 0 1 .052.161l-.922.986a.1.1 0 0 0-.026.079l.167 1.34a.097.097 0 0 1-.138.1l-1.222-.573a.1.1 0 0 0-.083 0l-1.222.573a.097.097 0 0 1-.138-.1l.167-1.34a.1.1 0 0 0-.026-.078l-.921-.987a.096.096 0 0 1 .052-.16l1.325-.256a.1.1 0 0 0 .066-.049zm5.227 0a.1.1 0 0 1 .085-.05.1.1 0 0 1 .085.05l.653 1.181a.1.1 0 0 0 .067.049l1.326.255a.096.096 0 0 1 .052.161l-.923.986a.1.1 0 0 0-.025.079l.167 1.34a.097.097 0 0 1-.138.1l-1.223-.573a.1.1 0 0 0-.082 0l-1.223.573a.097.097 0 0 1-.137-.1l.166-1.34a.1.1 0 0 0-.025-.078l-.922-.987a.096.096 0 0 1 .052-.16l1.325-.256a.1.1 0 0 0 .067-.049zm5.228 0a.1.1 0 0 1 .085-.05.1.1 0 0 1 .085.05l.653 1.181a.1.1 0 0 0 .067.049l1.325.255a.096.096 0 0 1 .053.161l-.923.986a.1.1 0 0 0-.025.079l.166 1.34a.097.097 0 0 1-.137.1l-1.223-.573a.1.1 0 0 0-.082 0l-1.223.573a.097.097 0 0 1-.137-.1l.166-1.34a.1.1 0 0 0-.025-.078l-.923-.987a.096.096 0 0 1 .053-.16l1.325-.256a.1.1 0 0 0 .067-.049z" fill="#FBB004"/><path d="M7.79 23.836q.26-.393.26-.953a1.7 1.7 0 0 0-.26-.951 1.65 1.65 0 0 0-.742-.619Q6.564 21.1 5.9 21.1H3.696v4.839h1.37v-1.286h.74l.877 1.286h1.466l-1.045-1.522a1.64 1.64 0 0 0 .688-.579zm-1.33-1.468a.65.65 0 0 1 .214.515c0 .216-.072.4-.214.525q-.214.187-.643.187h-.753v-1.417h.753q.429 0 .643.19m5.112-.015a2.2 2.2 0 0 0-1.006-.231q-.594 0-1.061.248-.466.249-.733.688a1.9 1.9 0 0 0-.266 1.006c0 .377.09.699.273.992a1.9 1.9 0 0 0 .766.691Q10.04 26 10.71 26q.531 0 .927-.156.393-.157.656-.445l-.684-.727a1.4 1.4 0 0 1-.388.245q-.194.08-.477.08-.297 0-.511-.108a.75.75 0 0 1-.404-.494h2.72l.013-.166q.007-.09.007-.159 0-.62-.273-1.054a1.83 1.83 0 0 0-.726-.663zm-1.415.812a.84.84 0 0 1 .422-.103c.162 0 .293.034.408.103a.73.73 0 0 1 .273.294q.059.112.08.244H9.808a1 1 0 0 1 .075-.244.67.67 0 0 1 .273-.294m4.771 1.32-.9-2.302H12.68l1.542 3.754h1.362l1.534-3.754h-1.244zm3.773-3.911q-.22-.187-.58-.187c-.241 0-.44.066-.585.196a.64.64 0 0 0-.218.494c0 .296.073.364.218.498q.218.2.584.2c.366 0 .439-.069.584-.207a.7.7 0 0 0 .218-.518.6.6 0 0 0-.221-.477m-1.237 1.61h1.313v3.753h-1.313zm4.993.169a2.2 2.2 0 0 0-1.006-.231q-.595 0-1.06.248-.467.249-.734.688a1.9 1.9 0 0 0-.266 1.006c0 .377.091.699.273.992a1.9 1.9 0 0 0 .767.691q.494.253 1.165.253.531 0 .926-.156.393-.157.656-.445l-.684-.727q-.194.166-.387.245-.194.08-.477.08-.299 0-.512-.108a.75.75 0 0 1-.403-.494h2.719l.014-.166q.006-.09.006-.159 0-.62-.273-1.054a1.83 1.83 0 0 0-.726-.663zm-1.413.812a.83.83 0 0 1 .422-.103c.162 0 .292.034.407.103a.73.73 0 0 1 .273.294q.059.112.08.244h-1.53a1 1 0 0 1 .075-.244.67.67 0 0 1 .273-.294m7.279 1.307-.774-2.289h-1.114l-.804 2.275-.765-2.274h-1.237l1.32 3.753h1.279l.733-2.05.705 2.05h1.272l1.334-3.754h-1.155zm5.443-.225a.96.96 0 0 0-.315-.325 1.6 1.6 0 0 0-.429-.183 4 4 0 0 0-.473-.093q-.239-.03-.432-.062a1.2 1.2 0 0 1-.317-.09q-.125-.058-.125-.17 0-.11.14-.182.143-.072.474-.073.242 0 .518.056.277.055.553.22l.394-.898a2.3 2.3 0 0 0-.68-.242 4 4 0 0 0-.8-.083q-.593 0-.998.165-.405.166-.615.446t-.211.638q0 .319.117.526a.87.87 0 0 0 .315.325q.197.118.438.183.243.067.474.097l.431.055q.201.025.318.08.117.056.117.159 0 .125-.128.196-.127.073-.46.073c-.221 0-.456-.032-.69-.097a2.6 2.6 0 0 1-.623-.256l-.387.899q.274.165.729.276.453.11.929.11.608 0 1.023-.165t.623-.442a1 1 0 0 0 .207-.615c0-.225-.04-.393-.121-.528z" fill="#E6E8F9"/></svg>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% render 'slider-controls', show_nav: section.settings.show_navigation, show_pagination: section.settings.show_pagination, absolute: true, container: section.settings.container %}
