<script src="{{ 'announcement-bar.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign enable_slider = false
  if section.blocks.size > 1
    assign enable_slider = true
  endif

  assign autorotate = section.settings.autorotate
  assign autorotate_speed = section.settings.autorotate_speed
  assign show_divider = section.settings.show_divider

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif
%}

{% if section.settings.show_announcement %}
  <section
    id="m-announcement--{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="announcement"
    class="m-announcement-bar m-gradient m-color-{{ section.settings.color_scheme }}"
    {% if show_divider %}
      style="--border-width: 1px"
    {% endif %}
  >
    <m-announcement-bar
      data-enable-slider="{{ enable_slider }}"
      {% if enable_slider %}
        data-enable-autoplay="{{ autorotate }}"
        data-autoplay-speed="{{ autorotate_speed }}"
      {% endif %}
    >
      <div class="m-announcement-bar__container {{ container }} m:flex m:items-center">
        <div class="social-links-row">
          {% render 'social-media-links', show_label: true %}
        </div>

        <div class="announcement_bar_jmcs">
          <div class="m-announcement-bar__wrapper{% if enable_slider %} swiper-container{% endif %}">
            <div class="m-announcement-bar__inner{% if enable_slider %} swiper-wrapper{% endif %}">
              {% for block in section.blocks %}
                <div class="m-announcement-bar__item{% if enable_slider %} swiper-slide{% endif %}">
                  {% if block.settings.message_link != blank %}
                    <a href="{{ block.settings.message_link }}" class="m-announcement-bar__link"></a>
                  {% endif %}
                  {% if block.settings.message != blank %}
                    <div class="m-announcement-bar__content">{{ block.settings.message }}</div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="location-row">
          <svg
            width="13"
            height="16"
            viewBox="0 0 13 16"
            fill="none"
            class="location-dot"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12.2 6.6c0 3.495-3.877 7.135-5.18 8.26a.7.7 0 0 1-.84 0C4.876 13.734 1 10.094 1 6.6a5.6 5.6 0 1 1 11.2 0" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          {% if section.settings.location_text != blank %}
            <span class="m:text-sm">{{ section.settings.location_text }}</span>
          {% endif %}
        </div>
      </div>
    </m-announcement-bar>
  </section>
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Watch tutorial](https://foxecom.link/zDfFJy)"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "Show divider",
      "default": false
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "paragraph",
      "content": "Slider funciona quando há mais de 2 itens"
    },
    {
      "type": "checkbox",
      "id": "autorotate",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Change slides every",
      "max": 10,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "type": "header",
      "content": "Localização"
    },
    {
      "type": "text",
      "id": "location_text",
      "label": "Localização",
      "default": "Joinville - SC"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Announcement item",
      "settings": [
        {
          "type": "textarea",
          "id": "message",
          "label": "Message",
          "default": "Free shipping for all orders from $60+"
        },
        {
          "type": "url",
          "id": "message_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar",
      "category": "Image",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
